/* Appliqué uniquement à la cellule contenant une quantité dépassant le stock */
.quantity-overstock {
    background-color: #f2f2f2;
    color: red;
    font-weight: bold;
    padding: 4px;
    border-radius: 4px;
}

/* Appliqué uniquement à la cellule contenant une quantité valide */
.quantity-ok {
    color: green;
    font-weight: bold;
}
